.block {
  left: 200px;
  top: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  color: #000000;
  background-color: antiquewhite;
}

.nav__container {
  position: relative;
  left: 300px;
  top: 20px;
  z-index: inherit;
  width: 400px;
  height: 200px;
}

.jkjk {
  position: relative;
  left: 0;
  right: 78px;
  top: 89px;
  z-index: 34;
  padding: 30px;
  width: 299px;
  font-size: 34px;
  line-height: 4;
  pointer-events: painted;
}
