.header__fon {
  min-height: 600px;
  background-color: #913b4c;
  border-bottom: 1px solid #333333;
}

.container {
  width: 100px;
  min-height: 230px;
  padding: 0;
  background-color: #008000;
  border: 1px solid #00ffff;
}

.nav__container {
  position: relative;
  top: 0;
  bottom: 0;
  padding: 20px;
  color: #0000ff;
  border: #00ffff 1px solid;
}
