.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cube_scan_icon_137714 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-d_cube_scan_icon_241348 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
